/* Button add manager */

.animate
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button
{
	position: relative;
	padding: 5px 5px;
  	margin: 0px 10px 10px 0px;
  	float: left;
	border-radius: 10px;
	/* font-family: 'Pacifico', cursive; */
	font-family: 'Josefin Sans', sans-serif;
	font-size: 15px;
	color: #FFF;
	text-decoration: none;	
}

.blue
{
	background-color: #3498DB;
	border-bottom: 5px solid #2980B9;
	text-shadow: 0px -2px #2980B9;
}

.red
{
	background-color: #E74C3C;
	border-bottom: 5px solid #BD3E31;
	text-shadow: 0px -2px #BD3E31;
}

.green
{
	background-color: #82BF56;
	border-bottom: 5px solid #669644;
	text-shadow: 0px -2px #669644;
}

.yellow
{
	background-color: #F2CF66;
	border-bottom: 5px solid #D1B358;
	text-shadow: 0px -2px #D1B358;
}

.action-button:active
{
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}

/* table respontsive */


@media screen and (max-width: 1045px) and (min-width: 835px) {
    /* .priority-5{
        display:none;
    } */
    .priority-4{
        display:none;
    }
}

@media screen and (max-width: 834px) and (min-width: 565px) {

    .priority-4{
        display:none;
    }
    .priority-3{
        display:none;
    }
}

@media screen and (max-width: 565px) and (min-width: 420px) {
	
		.priority-4{
			display:none;
		}
		.priority-3{
			display:none;
		}
	}

@media screen and (max-width: 420px) {
 
    .priority-4{
        display:none;
    }
    .priority-3{
        display:none;
	}
	.priority-2{
        display:none;
    }
}

/* modal add manager */
/*    --------------------------------------------------
	:: Login Section
	-------------------------------------------------- */
	#login {
		/* padding-top: 50px */
	}
	#login .form-wrap {
		width: 30%;
		margin: 0 auto;
	}
	#login h1 {
		color: #1fa67b;
		font-size: 18px;
		text-align: center;
		font-weight: bold;
		padding-bottom: 20px;
	}
	#login .form-group {
		margin-bottom: 25px;
	}
	#login .checkbox {
		margin-bottom: 20px;
		position: relative;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
		user-select: none;
	}
	#login .checkbox.show:before {
		content: '\e013';
		color: #1fa67b;
		font-size: 17px;
		margin: 1px 0 0 3px;
		position: absolute;
		pointer-events: none;
		font-family: 'Glyphicons Halflings';
	}
	#login .checkbox .character-checkbox {
		width: 25px;
		height: 25px;
		cursor: pointer;
		border-radius: 3px;
		border: 1px solid #ccc;
		vertical-align: middle;
		display: inline-block;
	}
	#login .checkbox .label {
		color: #6d6d6d;
		font-size: 13px;
		font-weight: normal;
	}
	#login .btn.btn-custom {
		font-size: 14px;
		margin-bottom: 20px;
	}
	#login .forget {
		font-size: 13px;
		text-align: center;
		display: block;
	}
	
	/*    --------------------------------------------------
		:: Inputs & Buttons
		-------------------------------------------------- */
	.form-control {
		color: #212121;
	}
	.btn-custom {
		color: #fff;
		background-color: #1fa67b;
	}
	.btn-custom:hover,
	.btn-custom:focus {
		color: #fff;
	}
	
	/*    --------------------------------------------------
		:: Footer
		-------------------------------------------------- */
	#footer {
		color: #6d6d6d;
		font-size: 12px;
		text-align: center;
	}
	#footer p {
		margin-bottom: 0;
	}
	#footer a {
		color: inherit;
	}